:root {
  --background-color: white;
  --board-num-grid: 9;
  --board-border-color: grey;
  --board-width: min(450px, 100vw - 20px);
  --board-grid-size: calc(var(--board-width) / var(--board-num-grid));
  --board-grid-config: repeat(var(--board-num-grid), var(--board-grid-size));
  --notes-num: 3;
  --notes-size: 30%;
  --notes-background-color: #efefef;
  --number-pad-bg-color: grey;
  --number-pad-font-color: white;
  --control-btn-bg-color: #efefef;
  --control-btn-font-color: black;
  --font-color: black;
  --correct-color: green;
  --incorrect-color: red;
  --bg-color-selected: lightgrey;
  --bg-color-modal: white;
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  color: var(--font-color);
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 475px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 475px;
  position: relative;
  width: 100%;
}

.message-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: var(--board-width);
  margin: 10px auto;
}

.message-bar p {
  margin: 0;
}

.message--correct {
  color: var(--correct-color);
  display: none;
}

.message--incorrect {
  color: var(--incorrect-color);
  display: none;
}

.board {
  border: 3px solid var(--board-border-color);
  display: inline-grid;
  grid-template-columns: var(--board-grid-config);
  grid-template-rows: var(--board-grid-config);
  margin: 0 auto;
  width: var(--board-width);
}

.board__cell {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--board-border-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  // prevent text in other cells from being highlighted when clicking div
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div[data-col="3"],
div[data-col="6"] {
  border-left: 3px solid var(--board-border-color);
}

div[data-row="3"],
div[data-row="6"] {
  border-top: 3px solid var(--board-border-color);
}

.cell-selected {
  background-color: var(--bg-color-selected);
  // border: 3px solid blue;
}

.cell__num {
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  height: calc(100% - var(--notes-size));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cell__notes {
  background-color: inherit;
  height: var(--notes-size);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--notes-num), 1fr);
  column-gap: 0;
}

.to-fill .cell__notes {
  background-color: var(--notes-background-color);
}

.to-fill .cell__note {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: 100%;
}

.correct {
  color: var(--correct-color);
}

.incorrect {
  color: var(--incorrect-color);
}

.control-panel {
  align-items: top;
  display: flex;
  font-size: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}

.control--visuals,
.control--game {
  display: flex;
  flex-flow: column wrap;
}

.control--visuals .control {
  align-items: center;
  display: flex;
  text-align: left;
  margin: 10px;
}

.control--visuals .control label {
  margin-left: 5px;
}

.control--game .control {
  text-align: right;
  margin: 5px;
}

.number-pad {
  box-sizing: border-box;
  column-gap: 5px;
  display: grid;
  grid-template-columns: repeat(var(--board-num-grid), 1fr);
  margin: 15px auto 10px auto;
  padding: 0 10px;
  width: 100%;
}

.clear-pad__btn,
.number-pad__btn {
  background-color: var(--number-pad-bg-color);
  border: none;
  color: var(--number-pad-font-color);
  font-size: 1rem;
  padding: 5px 0;
}

.clear-pad {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.clear-pad__btn {
  padding: 5px 20px;
}

.control__btn,
#game-difficulty {
  background-color: var(--control-btn-bg-color);
  border: none;
  color: var(--control-btn-font-color);
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 5px 5px;
}

#game-difficulty {
  border-bottom: 1px solid var(--font-color);
  height: 100%;
}

#new-game {
  height: 100%;
}

.control__btn {
  border-right: 1px solid var(--font-color);
  border-bottom: 1px solid var(--font-color);
}

.board-container {
  position: relative;
}

.modal {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal__cover {
  background-color: var(--bg-color-modal);
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal__content {
  border-radius: 15px;
  padding: 10px 20px;
  z-index: 1;
}

@media screen and (max-width: 375px) {
  .cell__num {
    font-size: 1rem;
  }

  .to-fill .cell__note {
    font-size: 0.6rem;
  }

  .control-panel,
  .game__btn,
  .control__btn,
  #game-difficulty {
    font-size: 0.8rem;
  }

  .control--visuals .control {
    margin: 5px;
  }
}
